@import "tailwindcss";

:root {
  --background: #282828;
  --foreground: #171717;

  --color-accent: rgb(0, 128, 0); /* Base accent color */
  --color-accent-hover: rgb(0, 102, 0); /* Darker shade for hover */
  --color-accent-dark: rgb(0, 90, 0); /* Even darker shade for borders */

  --color-text: #ccc;
  --color-text-light: #999;
  --color-bg-light: #3a3a3a;
  --color-bg-dark: #1e1e1e;
  --color-border: #8a8a8a;
}

body {
  @apply bg-[var(--background)] text-[var(--color-text)] font-sans;
}

button {
  @apply transition-colors duration-300;
}

input, textarea {
  @apply focus:outline-none focus:ring-2 focus:ring-[var(--color-accent)];
}

label {
  @apply text-[var(--color-text)] font-semibold;
}
